


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* flights page */


#grandflight{
    display: none;
}
#flight{
    width: 100%;
    height: 70vh;
    background:url(explore-beach.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

#flight #nav3{
    background-color: transparent;
    height: 100%;
    width: 90%;
}
:is(#passenger, #Economy , #round){
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    margin: 0.4rem;
    background: none;
    border-radius: 0.4rem;
    transition: 1s ease;
    
}

:is(#passenger, #Economy , #round):hover{
    background-color: rgb(208, 207, 207);
}

#flight .botons{
display: flex
;
}

#flight #head{
    background-color: rgb(19, 19, 99);
    height: 10%;
    top: 0;
    padding: 0;
    position: fixed;
    z-index: 100000;
}

#flight h3{
    color: greenyellow;
    text-transform:uppercase;
    font-family: var(--font-family-base);
    letter-spacing: 0.2rem;
}

#flight ul li{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: var(--font-family-base);
    font-size: 12px;
    color: var(--background-color);
}

#flight ul li i{
    font-size: var(--font-size-xl);
    
}

#flight #lg{
    padding: 0.4rem;
    background-color: transparent;
    color: var(--background-color);
    border: none;
    cursor: pointer;
    font-size: var(--font-size-lg);
}

.containerr1{
    width: 80%;
    height: 50%;
    background-color: var(--background-color);
    border-radius: 0.5rem;
    margin-top: 2.4rem;
    position: relative;
    display: flex;
    gap: 0.3rem;
    flex-direction: column;

}

.containerr1 #search{
    background-color: rgb(255, 98, 0);
    padding: 1rem 3rem;
    border-radius: 0.2rem;
    color: var(--background-color);
    border: none;
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    transform: translateX(-54%);
    cursor: pointer;
    font-weight: 900;

}

.inputs{
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    padding: 0.4rem;
}


.inpo::placeholder{
    color: rgb(255, 72, 0);
}
.inputs .inpo{
    width: 30%;
    padding: 1.5rem 1.7rem;
    height: 10%;
    border: none; 
    background-color: rgb(208, 207, 207);
    border-radius: 0.4rem;
    outline: none;
    color: rgb(255, 72, 0);
    font-weight: 900;
 
}

.inputs .inpo:hover{
    border: 2px solid rgb(255, 72, 0);
   
}

/* end flights page */


/* flightwo */


#flighttwo{
    width: 100%;
    height: auto;
    background-color: var(--background-color);
    padding: 3rem 2.5rem;
   
}
#flighttwo .content{
    width: 100%;
    height: 100%;
    background-color: transparent;
     display: flex;
    flex-direction: column;
    gap: 2rem;
 
}
#flighttwo .content span{
    
    font-weight: 700;

}

#flighttwo .content p {
    color: var(--border-color);
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
}

#flighttwo .content .grandletter h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 0.7rem;
    font-weight: 800;
    
}

/* end flight two */


/* flight three */

#flightthree{
    height: 100vh;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#flightthree #btn11{
    position: absolute;
    left: 70px;
    color: var(--heading-color);
    font-size: var(--font-size-xl);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.461);
    border: 1px solid var(--heading-color);
    border-radius: 50%;
    cursor: pointer;
    padding: 1rem;
}

#flightthree #btn22{
     position: absolute;
    right: 30px;
    color: var(--heading-color);
    font-size: var(--font-size-xl);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.461);
    border: 1px solid var(--heading-color);
    border-radius: 50%;
    cursor: pointer;
    padding: 1rem;
}

#flightthree .conthree{
    background-color: var(--heading-color);
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
    position: relative;
    margin-right: -10rem;
    display: none;
}

#flightthree .conthree.active{
    display: block;
}

#flightthree .conthree #imthree{
    width: 100%;
    height: 100%;
    order: 2;
    border-radius: 1rem;
    
}

#flightthree .conthree .text1{
    width: 500px;
    height: 320px;
    background-color: rgb(29, 16, 96);
    z-index: 1;
    position: absolute;
    top: 100px;
    left: -100px;
    border-radius: 1rem;
    padding: 2rem;
    color: var(--background-color);
    font-family: var(--font-family-base);
   line-height: 2rem;
   user-select: none;
}
#flightthree .conthree .text1 h1{
    margin-bottom: 1rem;
}

#flightthree .conthree .text1 #letsgo{
    padding: 0.7rem 1rem;
    color: var(--background-color);
    font-family: var(--font-family-base);
    font-weight: 900;
    background-color: #23c93c;
    border: none;
    border-radius:0.5rem;

}


#grandflight #tograndsection{
width: 100%;
height: auto;
background: var(--background-color);
padding: 3rem;
display: flex;
justify-content: center;
align-items: center;
}

#togrand{
    padding: 0.8rem 1rem;
    background-color: rgb(255, 136, 0);
    border: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-base);
    font-size: var(--font-size-sm);
    font-weight: 700;
    cursor: pointer;
    transition: 2s ease;
}

#togrand:hover{
    transform: scale(1.1);
    background-color:var(--heading-color);
    color: rgb(255, 136, 0);
}

#togrand i{
    font-size: var(--font-size-lg);
}
/* end flight three */
/* #login{
    background: url(home-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}


#login .container11{
    background-color: rgba(155, 155, 155, 0);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    height: 80vh;
    width: 35%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
#login .container11 #btn{
    width: 70%;
    padding: 0.5rem;
    background-color: var(--heading-color);
    color: var(--background-color);
    cursor: pointer;
    border: none;
    border-radius: 0.3rem;
    transition: 2s ease;
}

#login .container11 #btn:hover{
    transform: scale(1.1);

}
:is(#password , #email){
    padding: 0.5rem 0.6rem;
    background-color: var(--border-color);
    color: var(--background-color);
    outline: none;
    border: none;
    border-radius: 0.3rem;
    width: 80%;
    margin-bottom: 1.5rem;
    position: relative;
    transition: 2s ease;
}

#sp ,
 #spa{
    width: 80%;
    color: var(--danger-color);
    font-size: 11px;
    font-family: var(--font-family-base);
    margin-left: 0.2rem;
    margin-top: -2rem;
   display: none;
}



::placeholder{
    color: var(--heading-color);
    font-family: var(--font-family-base);
    font-size: var(--font-size-sm);
}

:is(.password , .email){
    color:azure;
    font-family: var(--font-family-base);
    font-size: var(--font-size-lg);
}
 


#grandsec{
    display: none;
}
#grandsec.active{
    display: block;
} */
html{
    scroll-behavior: smooth;
}
:root{
     --primary-color: #007bff;
  --secondary-color: #6c757d;
  --accent-color: #f39c12;
  --background-color: #f8f9fa;
  --text-color: #212529;
  --heading-color: #111111;
  

  
  /* ألوان الحالة */
  --success-color: #198754;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --info-color: #0dcaf0;

  /* الفونت */
  --font-family-base: 'Inter', sans-serif;
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-lg: 20px;
 --font-size-xl: 32px;
 --font-size-xxl: 48px;
  --font-size-xxxl: 64px;
  --font-size-giant: 80px;

  /* الحواف والمسافات */
  --border-radius: 6px;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  /* الظلال */
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  --border-color: #2c2c2c;

}
body{
    height: 100vh;
    width: 100%;
   background-color: var(--border-color);
   position: relative;
}

#top{
    position: fixed;
    bottom: 10px;
    right: 18px;
    padding: 0.5rem;
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    border-radius: 0.5rem ;
    color: var(--background-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    visibility: hidden;
}

.nov{
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 35%;
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.518);
    z-index: 10000;
    transition: 2s ease;
  
}
.nov h3{
    color: var(--background-color);
    font-size: var(--font-size-lg);
    margin-top: 0.8rem;
    margin-left: 0.4rem;
    font-family: var(--font-family-base);
}
.nov.active{
    top: 0;
}
.nov ul li{
    list-style: none;
    margin: 1rem;
    position: relative;
   
    
}
.nov ul li a{
    text-decoration: none;
    color: var(--background-color);
}
.nov ul li ::after{
    content: "" ;
    width: 0 ;
    background-color: var(--background-color) ;
    height: 2% ;
    position: absolute ;
    left: 0 ;
    bottom: -0.3rem ;
    transition: ease 1s;

}
.nov ul li:hover ::after{
   width: 70%;

}
/* header */
header{
    width: 100%;
    position: fixed;
    z-index: 10000;
    padding: 0.8rem;
    box-shadow: 1px 0px 10px 1px black;
    background-color: rgba(0, 0, 0, 0.304);
    
}
#jes{
    position: fixed;
    right: 2%;
    top: 3%;
    padding: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    outline: none;
    border: 1px solid var(--background-color);
    color: var(--background-color);
    border-radius: 0.2rem;
    cursor: pointer;
    z-index: 100000000000;
}
#i2 , #i1{
    position: absolute;
    font-size:  var(--font-size-lg);
}
#i1{
    display: none;
}
/* header anv */
header nav{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header nav ul li{
    margin: 0.6rem ;
    list-style: none;
    font-size: var( --font-size-base);
    position: relative;
    cursor: pointer;
}

header nav ul li a{
    text-decoration: none;
    color: var(--background-color);
}
/* header h3 logo */
header h3{
    font-size: var(--font-size-lg);
   color: var(--secondary-color);
   cursor: pointer;
}

/* header creat animation after */
header nav ul li ::after{
    content: "" ;
    width: 0 ;
    background-color: var(--background-color) ;
    height: 2% ;
    position: absolute ;
    left: 0 ;
    bottom: -0.3rem ;
    transition: ease 1s;

}
/* header start animation after hover */
header nav ul li:hover ::after{
width: 70%;
}

/* end header */


/* start section 1 */

#sec1{
    background: linear-gradient(to bottom ,rgba(0,0,0,0) , black) , url(home-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* height: 100vh; */
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
   
    
}

/* container1 */
#sec1 .container1{
    margin-top: 14rem;
    margin-left: 3rem;
    padding: 1rem;
    width: 100%;
    visibility: hidden;
    transition: ease 3s;
   
}

#sec1 .container1.active{
    margin-top: 4rem;
    visibility: visible;
}
/* btn and p , h2, h4 */
:is(h4, h2 ,p, #btn1){
    margin-bottom: 0.8rem;
     color: var(--background-color);
}

/* just h2 */
.container1 h2{
    font-size: var(--font-size-xxl);
    font-family: var(--font-family-base);
    color: var(--background-color);
}

/* just btn */
#sec1 .container1 #btn1{
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.265);
    outline: none;
    border: none;
    cursor: pointer;
    font-family: var(--font-family-base);
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
}

/* container 2 */
#sec1 .container2{
    width: 100%;
    margin-top: 1rem;
    margin-left: 3rem;
}

/* container2 and local container */
#sec1 .container2 .localconta{
    width: 60%;
       display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.7rem;
    perspective: 100px;
    transition: ease 2s;
    
}


/* local container with his child col1  */
#sec1 .container2 .localconta .col1{
    width: 220px;
    height: 150px;
    background-color: var(--background-color);
    transform-style: preserve-3d;
    position: relative;
    overflow: hidden;
}

/* just p */
#sec1 .container2 .localconta .col1 p{
    position: absolute;
    left: 5px;
    bottom: 0;
}

/* just images */
#sec1 .container2 .localconta .col1 #im1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: ease 2s;
    cursor: pointer;
}

/* images hover event */
#sec1 .container2 .localconta .col1 #im1:hover{
    transform: scale(1.1);

}

/* end section 1 */

/* start section 2 */

#sec2{
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
}
/* containers parent */
.contaparent{
height: 100vh;
    background-color: black;
 display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    visibility: hidden;
    transition: ease 3s;
}

.contaparent.active{
    gap: 1rem;
    visibility: visible;

}
/* containers parent with first child */
#sec2 .contaparent .conatiner1{
    padding: 2rem;
}

/* container parent with first child with his child h1 and p and btn2 */
#sec2 .contaparent .conatiner1 h1, p ,#btn2{
    margin-bottom: 0.8rem;
    color: var(--background-color);
    font-family: var(--font-family-base);
}
/* h1 whit his parent */
#sec2 .contaparent .conatiner1 h1{
    font-size: var(--font-size-xl);
}
/* paragraph with his parent */
#sec2 .contaparent .conatiner1 p{
    color: var(--secondary-color)
}

/* btn2 with hir parent */
#sec2 .contaparent .conatiner1 #btn2{
        padding: 0.8rem;
    background-color: rgba(255, 255, 255, 0.265);
    outline: none;
    border: none;
    cursor: pointer;
    font-family: var(--font-family-base);
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
}

/* container 2 */
#sec2 .contaparent .container2{
    overflow: hidden;
    width: 28%;
    height: 50%;
}

/* container 2 with her child im2 */
#sec2 .contaparent .container2 #im2{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: ease 2s
}
/* im2 hover */
#sec2 .contaparent .container2 #im2:hover{
    transform: scale(1.1);
}

/* second container in sec2 */
#sec2 .secondcontainer{
    width: 100%;
    padding: 2rem;
}
/* second container in sec2 with his child h1 */
#sec2 .secondcontainer h1{
    text-align: center;
    color: var(--background-color);
    font-size: var(--font-size-xl);
    font-family: var(--font-family-base);
}

/* end section 2 */


/* strat sec3 */

#sec3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background: black;
    padding: 1rem 0rem;
}

/* section 3 with his first child */
#sec3 .container1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    perspective: 300px;
    width: 50%;
    gap: 1rem;
    margin-left: -5rem;
    transition: ease 2s;
} 


/* container 1 with his first child col1 */
#sec3 .container1 .col1{
   width: 220px;
    height: 270px;
    transform-style: preserve-3d;
    position: relative;
    overflow: hidden;
}


/* col1 with his child im3 */
#sec3 .container1 .col1 #im3{
   width: 220px;
   height: 190px;
    object-fit: cover;
    cursor: pointer;
    transition: ease 2s;
}


/* im3 hover */
#sec3 .container1 .col1 #im3:hover{
    transform: scale(1.1);
    margin-bottom: 0.5rem;
}


/* col1 with his child paragraph */
#sec3 .container1 .col1 p {
    color: var(--background-color);
    font-family: var(--font-family-base);
    
}

/* it box (icons with name ) */
#sec3 .container1 .col1 .it{
    display: flex;
    align-items: center;
      color: var(--secondary-color);
}


/* end section 3 */


/* start  scetion 4 */

#sec4{
    width: 100%;
    height: 80vh;
    background: linear-gradient(to bottom ,rgba(0,0,0,1)0% , rgba(0,0,0,0)40%,  rgba(0,0,0,0.5)50%   , rgba(0,0,0,1) 89%) , url(explore-beach.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;

}

/* sec4 with first child */
#sec4 .container4{
    margin-left: 5rem;
    margin-top: 23rem;
    visibility: hidden;
    transition: 3s ease;
}

#sec4 .container4.active{
    margin-top: 10rem;
    visibility: visible;
}

/* container1 with his child h1 */
#sec4 .container4 h1{
    margin-bottom: 0.6rem;
    color: var(--background-color);
    font-family: var(--font-family-base);

}

/* container1 with another child p */
#sec4 .container4 p{
    color: var(--secondary-color);
    font-family: var(--font-family-base);
}

/* END SECTION 4 */


/* start section 5 */


#sec5{
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
}

/* containers parent */
.contaparent5{
height: 100vh;
    background-color: black;
 display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

/* containers parent with first child */
#sec5 .contaparent5 .conatiner1{
    padding: 2rem;
}

/* container parent with first child with his child h1 and p and btn2 */
#sec5 .contaparent5 .conatiner1 h1, p ,#btn2{
    margin-bottom: 0.8rem;
    color: var(--background-color);
    font-family: var(--font-family-base);
}
/* h1 whit his parent */
#sec5 .contaparent5 .conatiner1 h2{
    font-size: var(--font-size-xl);
    font-family: var(--font-family-base);
}
/* paragraph with his parent */
#sec5 .contaparent5 .conatiner1 p{
    color: var(--secondary-color)
}

/* btn2 with hir parent */
#sec5 .contaparent5 .conatiner1 #btn2{
        padding: 0.8rem;
    background-color: rgba(255, 255, 255, 0.265);
    outline: none;
    border: none;
    cursor: pointer;
    font-family: var(--font-family-base);
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
}

/* container 2 */
#sec5 .contaparent5 .container2{
    overflow: hidden;
    width: 20%;
    height: 65%;
}

/* container 2 with her child im2 */
#sec5 .contaparent5 .container2 #im2{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: ease 2s
}
/* im2 hover */
#sec5 .contaparent5 .container2 #im2:hover{
    transform: scale(1.1);
}

/* second container in sec2 */
#sec5 .secondcontainer5{
    width: 100%;
    padding: 2rem;
}
/* second container in sec2 with his child h1 */
#sec5 .secondcontainer5 h1{
    text-align: center;
    color: var(--background-color);
    font-size: var(--font-size-xl);
    font-family: var(--font-family-base);
}

/* input */
#sec5 .contaparent5 .conatiner1 #inpo{
    width: 73%;
    padding: 0.5rem ;
    outline: none;
    border: none;
    background:rgb(18, 18, 18);
    margin-bottom: 0.8rem;
    color: var(--background-color);
}


/* end section 5 */


/* start section 6 */
#sec6{
    width: 100%;
    padding: 2rem;
    background-color: var(--heading-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    cursor: text;
}

#sec6 .container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--background-color);
    width: 90%;
    margin: auto;
}


#sec6 .container1 .allconta2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#sec6 .container1 .Travel h2{
font-size: var(--font-size-lg);
}


#sec6 .container1 .Travel #pa{
    color: var(--secondary-color);
}

#sec6 .container1 .allconta2 .conta2{
    display: flex;
    flex-direction: column;
       font-family: var(--font-family-base);  
}
 

#sec6 .container1 .allconta2 .conta2 h3 , span{
    margin-bottom: 0.4rem;
}

#sec6 .container1 .allconta2 .conta2 span{
    color: var(--secondary-color);
}

#sec6 .container2{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--background-color);
}

#sec6 .container2 .col2{
    margin-top: 0.5rem; 
 
}
#sec6 .container2 .col2 i{
    margin: 0.3rem;
    cursor: pointer;
}



/* end section 6 */






@media (max-width:990px){
    #sec1 .container2{
        margin-left: 0rem;
    }
   #sec1 .container2 .localconta{
        grid-template-columns: 1fr 1fr;
       width: 45%;
      margin-left: 11rem;
       
    }
    #sec1 .container1{
         margin-top: 14rem;
        margin-left: -2rem;
    padding: 1rem;
        width: 50%;
       
         visibility: hidden;
    transition: ease 3s;
    }
    #sec1 .container1.active{
    margin-top: 4rem;
    visibility: visible;
}

    #sec3 .container1{
        width:70%;
        margin-left: -7rem;
    }

    #sec6 .container1 .allconta2{
        grid-template-columns: 1fr 1fr;
        gap: 0.4rem;
    }

    #sec6 .container2{
        justify-content: space-around;
    }


}


@media (min-width:500px) and (max-width:800px){
    #sec1 .container2 .localconta{
        grid-template-columns: 1fr;
    }

    #sec1{
        padding: 0;
    }
    #sec1 .container2 .localconta .col1{
        width: 350px;
        height: 190px;
    }
.contaparent{
    flex-direction: column;
}
#sec2 .contaparent .container2{
    width: 40%;

}

#sec3 .container1{
    grid-template-columns: 1fr;
    width: 30%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.contaparent5{
    flex-direction: column;
    width: 70%;
    margin: auto;
}
#sec5 .contaparent5 .container2{
    height: 40%;
    width: 80%;
}

#sec5 .contaparent5 .conatiner1{
    margin-left: 2rem;
    
}
   
}


@media (max-width:450px){

    header h3{
        color: var(--background-color);
    }
    #sec1 .container1{
     margin-left: 3rem;
        width: 90%;
    }
    .container1 h2{
        font-size: var(--font-size-xl);
    }
    #sec1 .container1 #btn1{
        padding: 0.5rem;
    }
    #sec1 .container2{
        margin-left: 0;
        width: 100%;
        margin-left: -15rem;
    }
    #sec1 .container2 .localconta{
        grid-template-columns: 1fr ;
    }
    .contaparent{
        flex-direction: column;
        height: auto;
    }
    #sec2 .contaparent .container2{
        width: 60%;
        height: 20%;
    }

    #sec2 .contaparent .conatiner1 h1{
        font-size: var(--font-size-xl);
    }
    #sec2 .contaparent .conatiner1 p{
        font-size: var(--font-size-sm);
    }
    #sec2 .contaparent .conatiner1 #btn2{
        padding: 0.5rem;
    }
   #sec2 .secondcontainer h1{
    font-size: 22px
   }

   #sec3 .container1{
    grid-template-columns: 1fr;
    margin-left: 0rem;
    width: 50%;
   }

 #sec4 .container4{
    width: 100%;
     margin-left: 2rem;
 }
 .contaparent5{
    flex-direction: column;
    height: auto;
 }
 #sec5 .contaparent5 .container2{
    height: 20%;
    width: 50%;
 }

 #sec5 .contaparent5 .conatiner1{
    padding: 1rem;
  
    text-align: center;
 }

 #sec5 .contaparent5 .conatiner1 #btn2{
    margin-left: 2.3rem;
 }
#sec5 .secondcontainer5 h1{
    font-size: 22px;
}
#sec6 .container1{
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    
}
#sec6 .container1 .allconta2{
    grid-template-columns: 1fr;
    gap: 0.5rem;
    text-align: center;
}
#sec6 .container2{
    flex-direction: column;
    text-align: center;
}
}

@media (min-width:700px){
    .nov{
        display: none;
    }
    #jes{
        visibility: hidden;
    }
}

@media (max-width:700px){
    #header1 #nav1{
        display: none;
    }
   
}





#secone{
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
    display: none;
}
/* containers parent */
#secone .co{
height: 100vh;
    background-color: black;
 display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

/* containers parent with first child */
#secone .co .co1{
    padding: 2rem;
}

/* container parent with first child with his child h1 and p and btn2 */
#secone .co .co1 h1, p ,#b2{
    margin-bottom: 0.8rem;
    color: var(--background-color);
    font-family: var(--font-family-base);
}
/* h1 whit his parent */
#secone .co .co1 h1{
    font-size: var(--font-size-xl);
}
/* paragraph with his parent */
#secone .co .co1 p{
    color: var(--secondary-color)
}

/* btn2 with hir parent */
#secone .co .co1 #b2{
        padding: 0.8rem;
    background-color: rgba(255, 255, 255, 0.265);
    outline: none;
    border: none;
    cursor: pointer;
    font-family: var(--font-family-base);
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
}

/* container 2 */
#secone .co .co2{
    overflow: hidden;
    width: 28%;
    height: 50%;
}

/* container 2 with her child im2 */
#secone .co .co2 #im22{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: ease 2s;
    cursor: pointer;
}
/* im2 hover */
#secone .co .co2 #im22:hover{
    transform: scale(1.1);
}

/* second container in sec2 */
#secone .second{
    width: 100%;
    padding: 2rem;
}
/* second container in sec2 with his child h1 */
#secone .second h1{
    text-align: center;
    color: var(--background-color);
    font-size: var(--font-size-xl);
    font-family: var(--font-family-base);
}

/* end section 2 */
